//================= Variable Font ==============
@import url('../fonts/western/styles.css');
@import url('../fonts/rale/styles.css');
@import url('../fonts/icon/styles.css');
$raleway : 'Raleway', sans-serif;
$western : 'WesternBangBang';

//==================Variable Color===============
$black-color1:#000;
$black-color2:#1A1D21;
$gold-color:#BF9456;
$brown-color:#E0E0E0;
$grey-color:#333;