@import url("../fonts/western/styles.css");
@import url("../fonts/rale/styles.css");
body {
  font-family: "Raleway", sans-serif;
  background: url("../images/barber.jpg") no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  color: #fff;
}

body.cetak {
  background: none;
}

.antrian {
  display: inline-block;
  background-color: #1A1D21;
  text-align: center;
  margin-top: 35%;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.antrian.cetak {
  margin-top: 10%;
  display: block;
}

.antrian
h1 {
  font-family: "WesternBangBang";
  color: #BF9456;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.antrian
.nomor-antrian {
  margin-top: 5px;
  margin-bottom: 5px;
}

.antrian
.nomor-antrian .nomor,
.nomor-antrian .nomor-panggil {
  font-size: 180px;
}

.antrian
.tombol {
  margin-top: 5px;
  margin-bottom: 5px;
}

.antrian
.btn-default {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: uppercase;
  color: #1A1D21;
  background-color: #BF9456;
  font-family: "WesternBangBang";
  border: none;
  font-size: 26px;
  border-radius: 0px;
}

.antrian
.btn-default:hover,
.antrian
.btn-default:active,
.antrian
.btn-default:focus {
  background-color: #8d6224;
}

.icon-download span
{
  font-size: 40px;
  margin-bottom: 20px;
  color: #BF9456;
}

.data-per
{
  font-family: "WesternBangBang";
  color: #BF9456;
  font-size: 28px;
}

.ui-datepicker thead
{
  color: #000;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    background-color: #F7AF39;
}

@media print {
  .antrian h1 {
    font-size: 30px;
  }
  #tombol-antrian {
    display: none;
  }
}
