
@font-face {
  font-family: 'WesternBangBang';
  src: url('WesternBangBang.eot?#iefix') format('embedded-opentype'),  url('WesternBangBang.woff') format('woff'), url('WesternBangBang.ttf')  format('truetype'), url('WesternBangBang.svg#WesternBangBang') format('svg');
  font-weight: normal;
  font-style: normal;
}
